body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
  background-color: darkgray;
}

.finished-task {
  color:darkorange;
}


.visibility-option {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.hidden {
  display: none;
}